.navbar{
    display: flex;
    flex: 1;
    flex-direction: row;
  }

.navbar-left{
  padding-left: 16px;
}

.navbar-right{
  text-align: right;
}

.navbar-button{
  padding: 10px,10px,10px,10px;
}

.navbar-logo{
    animation: logo-spin infinite 8s linear;
    background-color: #ff7f7f;
    height: 35px;
}

@keyframes logo-spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
  
}